#mynt_wysiwig iframe,
#mynt_wysiwig textarea{
  width:100%;
  height:500px;
  border:1px solid black;
  display:none;
}

#mynt_wysiwig:has(#input_wysiwig:checked) iframe,
#mynt_wysiwig:has(#input_html:checked) textarea{
  display:block;
}


/**
 * iframe
 */
#mynt_wysiwig:has(#input_wysiwig:checked) iframe{
  padding:0;
  resize:vertical;
}

/**
 * Textarea
 */
#mynt_wysiwig:has(#input_html:checked) textarea{
  --page-color: #FFF;

  padding:5px;
  --size : 1.4em;
  line-height: var(--size);
  background: linear-gradient(to bottom, #eee 1px, var(--page-color) 1px);
  background-size: 100% var(--size);
  background-origin: content-box;
  background-attachment: local;
  resize:vertical;
}


